BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
DerivePointerAlignment: false
PointerAlignment: Left

SpaceBeforeParens: ControlStatements
BreakBeforeBraces: Attach
AlwaysBreakTemplateDeclarations: Yes
SortIncludes: true
ReflowComments: true
