# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# VSCode関連の設定ファイル
.vscode/

# ワークスペースのバックアップファイル
*.code-workspace

# VSCodeのデバッグやタスク実行時に生成されるファイル
.vscode-test/

# ビルド用フォルダ
build/

# config内のsample.json以外のファイル
config/*
!config/sample.json

#resultsフォルダ
results/

for_Copilot.txt
